---
import LocationLayout from '../layouts/LocationLayout.astro'

const title = "location"
---



  <LocationLayout title={title}>

     <section>
        <div>
           <a href="/">Back To Home</a>
           <!-- background map image -->
        </div>
        <div>
           <h1>our location</h1>
           
           <div>
              <h2>99 king street</h2>
              <address>
                 Newport <br>
                 RI 02840 <br>
                 United States of America
              </address>
              <p>Our newly opened gallery is located near the Edward King House on 99 King Street, the Modern Art Gallery is free to all visitors and open seven days a week from 8am to 9pm.</p>
           </div>
        </div>
     </section>
  </LocationLayout>
   
  

  <style>
   
  </style>

  