---
import Button from '../components/Button.astro'
import leftArrow from '/assets/icon-arrow-left.svg';

---


<section>
   <div  id="div">
      <Button text="Back to home" whereTo="/" img={leftArrow} altText="left arrow" order="2" />
   </div>
   
</section>


<script>
   //add remove class based on screen size
   const div = document.getElementById('div');
   
   window.addEventListener('resize',function(){
      console.log(window.innerWidth);
      if (window.innerWidth > 700) {
         div.classList.add("content-container"); 
      } else {
         div.classList.remove("content-container")
      }
   })

</script>
